# Игнорировать временные файлы
*.swp

# Игнорировать бинарные файлы и исполняемые файлы
/bin/
/pkg/
/*.exe
/*.dll
/*.so
/*.dylib

# Игнорировать файлы конфигурации и переменных окружения
/.env
/.env.*
/.config
/Gopkg.lock
/vendor/

# Игнорировать сгенерированные файлы
*.log
*.out
*.test

# Игнорировать папку с зависимостями Go Modules
/go.sum
/go.sum
/go.sum.unverified

# Игнорировать папку с кэшем Go Modules
/.cache

# Игнорировать файлы для отладки и профилирования
/debug
/profile
.vscode/

# Игнорировать локальные конфигурационные файлы
/.idea/
*.iml
*.log
